<head>
    <style>
        body { max-width: 960px; margin: auto; margin-top: 20px; margin-bottom: 90px; }
        code { font-family: "Ubuntu Mono", "Courier New", monospace; font-size: 110%; }
        pre > code { padding: .2rem .5rem; margin: 0 .2rem; white-space: nowrap; border: 1px solid gray; border-radius: 1px; display: block; padding: 1rem 1.5rem; white-space: pre; }
        h1, h2, h3 { font-family: Ubuntu, "Trebuchet MS", sans-serif; }
        a { text-decoration: none; }
        blockquote { font-family: Georgia, serif; }
        blockquote:before { border-left: 1px solid gray; }
    </style>
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['$$', '$$']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>
</head>
<textarea id="mdcontent" style="display:none;">
# Using a pre-commit hook to build this site with Bash

I convert the markdown files in this repo into a site, including generation of an index, automagically using a Bash script. That might seem dumb, but

- Building pages is extremely simple. Pages are built by concatenating the markdown into an html file, with markdown-it converting the markdown to html in the browser. This gives me full control over the layout.
- Bash plus Unix utilities is a pretty good toolbox for something like this. It's quite easy to generate the index. I loop over the files, have sed grab the first line (a header), then have cut drop the first two characters. That is the description, which is appended as part of a link to the index page.
- Git hooks are just regular scripts that run on your computer. I add the newly generated html files from within the script. Updated html files are committed after running the script.
- You could use this as a blog if you wanted. Start the name of the markdown file with the date, and everything will be ordered. If you want, you can add the date to the index, or even to the generated html file. It would not take much.
- I have complete control over the full generator. Using someone else's work means I have to figure out how to fiddle with their system, and that's rarely fun.



<br><br>[&#8592; Return to site index](index.html)
</textarea>
<body></body>
<script>
    const md = markdownit({html:true})
                      .use(texmath, { engine: katex,
                                      delimiters: 'dollars',
                                      katexOptions: { macros: {"\\RR": "\\mathbb{R}"} } });
    document.body.innerHTML = md.render(document.getElementById("mdcontent").value);
</script>