<head>
    <style>
        body { max-width: 960px; margin: auto; margin-top: 20px; margin-bottom: 90px; }
        code { font-family: "Ubuntu Mono", "Courier New", monospace; font-size: 110%; }
        pre > code { padding: .2rem .5rem; margin: 0 .2rem; white-space: nowrap; border: 1px solid gray; border-radius: 1px; display: block; padding: 1rem 1.5rem; white-space: pre; }
        h1, h2, h3 { font-family: Ubuntu, "Trebuchet MS", sans-serif; }
        a { text-decoration: none; }
        blockquote { font-family: Georgia, serif; }
        blockquote:before { border-left: 1px solid gray; }
    </style>
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['$$', '$$']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markdown-it-texmath/css/texmath.min.css">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it-texmath/texmath.min.js"></script>
</head>
<textarea id="mdcontent" style="display:none;">
# Index of Pages

- [Using a pre-commit hook to build this site with Bash](building-this-site.html)
- [Learning the hard way how pre-commit hooks work](learning-the-hard-way.html)
- [Trying out Codeberg](trying-out.html)
</textarea>
<body></body>
<script>
    const md = markdownit({html:true})
                      .use(texmath, { engine: katex,
                                      delimiters: 'dollars',
                                      katexOptions: { macros: {"\\RR": "\\mathbb{R}"} } });
    document.body.innerHTML = md.render(document.getElementById("mdcontent").value);
</script>